<h1>Welcome</h1>
<h2> Join a New Game </h2>
<h6> Click on the game name to join it </h6>
<h1>New Game</h1>
<%= form_for :board, method: "POST",:url => { :action => :create } do |f| %>
  <br />
  <%= f.submit %>
<% end %>		