.pick-group {
	display:inline-block !important; 
	float: left;
}

.pick-box {
	background: #fff;
	border: 1px solid #e8e8e8;
}

.player-group {
	display:inline-block ; 
	border: 1px solid #e8e8e8;
    margin-right: 25px;
/*	float: right;*/
}

.player-box {
	background: #fff;
	border: 1px solid #e8e8e8;
	padding: 0;
}
